body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
}
div {
	border: 0.5px solid #000;
}

.curves {
	border: 1px solid #000;
}

.viz {
	width: 100px;
	float: left;
}

.curve-area {
	min-height: 200px;
	
}

.label-area {
	
}


/** visualisation elements **/

.line {
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;

}

.y.axis path {
	fill: red;
}
