body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.node {

    cursor: pointer;

}

.node circle {

    fill: #fff;

    stroke: #27262a;

    stroke-width: 1.5px;

}

.node text {

    font: 10px sans-serif;

}

svg path.link {
	stroke: #020001;
    stroke-width: 15.510118932025104px;
	stroke-linecap: round;
	fill: none;
    


}

/** might be used later**/


svg path.endurance {
	stroke: #dd2a51;
	stroke-width: 15.510118932025104px;
	stroke-linecap: round;
	fill: none;
}

svg path.power {
	stroke: #3edd88;
	stroke-width: 15.510118932025104px;
	stroke-linecap: round;
	fill:none;
}


/**
 * Tooltip CSS
 */


#infodiv {
	position: absolute;     
    text-align: left;
    pointer-events: none;     
    background: #FFFFEF;
    width: 400px;
    height: auto;
    padding: 10px;
    border: 1px solid #D5D5D5;
    font-family: arial,helvetica,sans-serif;
    position: absolute;
    font-size: 1.1em;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    background: rgba(255,255,255,0.9);
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border:1px solid rgba(200,200,200,0.85);
}
#infodiv.hidden {
				display: none;
}
#infodiv.tooltipTail:after,
#infodiv.tooltipTail:before {
    -webkit-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
    -moz-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
    transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
	top: -9999px;
	left: 96%;
	margin-left: 12px;
}


#infodiv p{
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 20px;
}
/*
div.tooltip {
    position: absolute;     
    text-align: left;
    pointer-events: none;     
    background: #FFFFEF;
    width: 400px;
    height: 165px;
    padding: 10px;
    border: 1px solid #D5D5D5;
    font-family: arial,helvetica,sans-serif;
    position: absolute;
    font-size: 1.1em;
    color: #333;
    padding: 10px;
    border-radius: 3px;
    background: rgba(255,255,255,0.9);
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border:1px solid rgba(200,200,200,0.85);
}

div.tooltipTail {
    position: absolute;
    left:-7px;
    top: 72px;
    width: 7px;
    height: 13px;
    background: url("images/tail_white.png") 50% 0%;
}

div.toolTipBody {
    position:absolute;
    height:100px;
    width:230px;
}*/

