body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.node {

    cursor: pointer;

}

.node circle {

    fill: #fff;

    stroke: #A40F15;

    stroke-width: 1.5px;

}

.node text {

    font: 10px sans-serif;

}

svg path.link {
	stroke: #020001;
    stroke-width: 15.510118932025104px;
	stroke-linecap: round;
	fill: none;
    


}

/** might be used later**/


svg path.endurance {
	stroke: #dd2a51;
	stroke-width: 15.510118932025104px;
	stroke-linecap: round;
	fill: none;
}

svg path.power {
	stroke: #3edd88;
	stroke-width: 15.510118932025104px;
	stroke-linecap: round;
	fill:none;
}
